.clientname {
  text-align: center;
  width: 96%;
}
.detailsclient {
  margin: 2%;
  width: 92%;
}
.personalDetails {
  background-color: rgba(249, 98, 10, 0.404);
}
#btnEdit {
  background-color: rgb(229, 75, 19);
  border-color: orangered;
  color: black;
}
.rounded-table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
}
#btnAddTransaction {
  margin-left: 15px;
  background-color: #212529;
}

.rounded-table td {
  border-bottom: 1px solid #dee2e6;
  padding: 0.75rem;
  background-color: #f08d57;
  vertical-align: top;
  text-align: center;
  font-weight: 500;
}
.rounded-table th {
  border-bottom: 1px solid #dee2e6;
  padding: 0.75rem;
  vertical-align: top;
  background-color: #212529;
  color: white;
  text-align: center;
}

.rounded-table thead th {
  border-top: none;
  /* border-radius: 10px 10px 0 0; */
}

.rounded-table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.rounded-table .table-dark {
  color: inherit;
}

.rounded-table .table-dark th,
.rounded-table .table-dark td,
.rounded-table .table-dark thead th {
  border-color: #dee2e6;
}

.contAddTrans {
  display: flex;
  align-items: center;
  justify-content: center;
}
.formAddTrans {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
#btnSave {
  margin-top: 2%;
  background-color: #212529;
  border: #212529;
  width: fit-content;
  }
#btnAddInves{
  background-color: #212529;
  border: #212529;
  margin-left: 30px;
}

/* Styles for small screens */
@media only screen and (max-width: 502px) {
  /* CSS styles here */

  .card {
    margin-top: 20%;
  }
  .signout {
    width: 40%;
  }
  .addnewclient {
    width: 100%;
  }
}

/* Styles for medium screens */
@media only screen and (min-width: 503px) and (max-width: 661px) {
  /* CSS styles here */
  .card {
    margin-top: 18%;
  }

  .addnewclient {
    width: 40%;
  }
}

/* Styles for large screens */
@media only screen and (min-width: 1200px) {
  /* CSS styles here */
  .signout {
    width: 13%;
  }
  .addnewclient {
    width: 25%;
  }
}
