.about{
  height: 75%;
  width: 70%;
  align-items: center;

  margin-left: 20%;
}

/* .logo{
  height: 10%;
  width: 10%; 
} */

.containerhome{
  margin-top: 60px;
}
.containerrow{
  margin-bottom: 50px;
}
.titlehome{
  font-size: 4rem;
}
@media only screen and (max-width: 767px) {
  .titlehome {
    font-size: 2rem;
  }
}
.typing{
  font-size: 2rem;
  font-weight: 100;
  font-style:italic ;
  color:#f58142; 
 
}
.signInForm{
width: 100%;
}
.cardhome{
  
  width: 100%;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
  margin-top: 4rem;
}
.logo{
  
  height: 40%;
  width:60%;
}
.lefthome{
  margin-top: 40%;
  margin-bottom: 30%;
}
@media only screen and (max-width: 500px) {
  .containerrow {
    flex-direction: column;
    
  }
  .lefthome{
    margin-top: 5%;
    margin-bottom: 10%;
  }
}
